{{ partial 'application/-loading-overlay'}}
{{ember-notify messageStyle="bootstrap"}}

{{ partial 'navigation' }}

<div class="container">
  <div class="row">
    <div class="col-xl-12 text-center mt-5 text-muted">
      <h1 class="display-1 mt-5">Loading</h1>
      <p class="text">Please wait while the application loads.</p>
    </div>
  </div>
</div>
