<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-3">Welcome!</h1>
            <p class="lead">To your fully-integrated &amp; scalable data management solution.</p>
            <hr class="m-y-2">
            <p>This product is in <code>alpha</code> state. There's much more to come...</p>
        {{!--  <p class="lead">
                <a class="btn btn-primary btn-lg btn-disabled" href="#" disabled="disabled" role="button">Learn more</a>
            </p> --}}
        </div>
    </div>
</div>
