{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "tools"}} Application Settings{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row mb-5">
  <div class="col">
    <div class="card list-index">
      <div class="card-header"></div>
      <div class="card-body">

        <p class="text-muted">Coming soon!</p>

      </div>

    </div>
  </div>
</div>
