{{-bootstrap/form/input-group
    key='name'
    value=model.name
    helpText='A short name describing this demographic.'
    hideLabel=true
    required=true
}}

{{-bootstrap/form/input-group
    key='label'
    value=model.label
    helpText='A user-friendly label for the demographic. Forms will display this by default.'
    hideLabel=true
    required=true
}}

<hr>
<div class="form-group">
    <label for="field-demographic-labels">Labels</label>

    {{edit-field/selectize/model-find-all
        modelName="question-tag"
        highlight=false
        selection=model.tags
        multiple=true
    }}

    <small class="form-text text-muted">Organize demographics using labels.</small>
</div>
