  {{#if show}}
    <div class="progress-bar progress-bar-striped {{progressBackground}} progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100"></div>
  {{/if}}
