/services/server/app/config/parameters.yml
/services/server/phpunit.xml
/services/server/var/*
!/services/server/var/cache
/services/server/var/cache/*
!server/var/cache/.gitkeep
!/services/server/var/logs
/services/server/var/logs/*
!server/var/logs/.gitkeep
!/services/server/var/sessions
/services/server/var/sessions/*
!server/var/sessions/.gitkeep
!server/var/SymfonyRequirements.php
/services/server/vendor/
/services/server/web/bundles/
/.DS_Store
/admin/npm-debug.log
/services/server/web/css
/services/server/web/js
.DS_Store
.env
