/server/app/config/parameters.yml
/server/phpunit.xml
/server/var/*
!/server/var/cache
/server/var/cache/*
!server/var/cache/.gitkeep
!/server/var/logs
/server/var/logs/*
!server/var/logs/.gitkeep
!/server/var/sessions
/server/var/sessions/*
!server/var/sessions/.gitkeep
!server/var/SymfonyRequirements.php
/server/vendor/
/server/web/bundles/
/.DS_Store
/admin/npm-debug.log
/server/web/css
/server/web/js
.DS_Store
.env
