<div class="card">
    <div class="card-header">Choices</div>
    <div class="card-block">
        {{edit-field/autocomplete value=model.relatedChoices multiple='true' modelType='question-choice' displayField='fullName'}}
    </div>
</div>
