<fieldset class="form-group">
    <small class="form-text text-muted">Additional options</small>
    <div class="checkbox">
        {{edit-field/checkbox checked=model.allowHtml label='Allow HTML'}}
    </div>
</fieldset>
