<div class="wrap">
    <div class="field-group">
        <div class="field text">
            <div class="field">
                {{input-field value=name class="title"}}
                <label for="name">Name</label>
                <p class="help-block">A human friendly name.</p>
            </div>
            <div class="field">
                {{input-field value=key disabled=disableKey}}
                <label for="name">Type Key</label>
                <p class="help-block">A unique key for this object. Is used with database storage and API access.</p>
            </div>
        </div>
    </div>
</div>
