<nav role='navigation'>
    <header>
        {{#link-to 'dashboard'}}<div class="brand">modlr</div>{{/link-to}}
    </header>
    <main>
        <ul>
            <li class="title">Definitions</li>
            <li>{{#link-to 'model'}}<i class="icon ion-document"></i>Models{{/link-to}}</li>
            <li>{{#link-to 'mixin'}}<i class="icon ion-erlenmeyer-flask"></i>Mixins{{/link-to}}</li>
            <li>{{#link-to 'embed'}}<i class="icon ion-android-exit"></i>Embeds{{/link-to}}</li>

            {{!-- <li class="title">Configuration</li>
            <li>{{#link-to 'see-and-do'}}<i class="icon ion-ios-pulse-strong"></i>See &amp; Do{{/link-to}}</li>
            <li>{{#link-to 'city-guide'}}<i class="icon ion-map"></i>City Guide{{/link-to}}</li>
            <li>{{#link-to 'best-of'}}<i class="icon ion-ribbon-b"></i>Best of{{/link-to}}</li> --}}
        </ul>
    </main>
    <footer>
        <div class="left">
            {{#link-to 'settings'}}<button>Settings <i class="ion-android-settings"></i></button>{{/link-to}}
        </div>

        <div class="right">
            {{#link-to 'logout'}}<button>Logout <i class="ion-log-out"></i></button>{{/link-to}}
        </div>
    </footer>
</nav>
