{% extends '@AppBundle/Resources/views/sandbox/index.html.twig' %}

{% block container %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Comments Test</div>
            <div class="card-block">
                <h1>Content Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin turpis felis, imperdiet ut molestie sit amet, dictum quis nisi. Nunc ante lacus, facilisis sit amet augue non, vehicula pretium tellus. Fusce fermentum vehicula augue sed sodales. Nunc nec lectus convallis dolor rhoncus aliquet. Quisque ornare mattis orci vitae feugiat. Ut in congue velit, sed varius augue. Quisque aliquam tortor pellentesque dictum feugiat. In eget libero metus. Duis efficitur at risus non luctus.</p>

                <p>Quisque sit amet aliquet mauris. Mauris egestas urna id urna venenatis, sed pretium metus ornare. Donec eros enim, pellentesque ac elit at, maximus dapibus tortor. Proin ac quam urna. Fusce eget euismod nibh. Aliquam malesuada, augue id varius sodales, nibh dolor vehicula lacus, et iaculis ligula turpis non elit. Mauris eget urna orci. In venenatis ex eu dapibus dapibus. Vestibulum hendrerit enim ante, ac placerat diam ornare vel.</p>

                <p>Maecenas nec tristique velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec dignissim leo. Sed viverra eleifend ipsum at ultrices. Sed interdum, nisl id finibus tincidunt, arcu enim elementum turpis, eget finibus orci dui at nisi. Praesent dapibus ante in lectus lobortis, in commodo nisl sollicitudin. Maecenas et iaculis nisl. Fusce id tortor pharetra, congue mauris id, fermentum mauris. Sed diam mi, mattis eget ipsum sed, sodales semper risus. Vivamus id iaculis sem. Nunc tincidunt blandit sollicitudin. Nam libero libero, malesuada a risus in, pretium posuere enim. Praesent nulla tortor, varius vitae massa sed, rhoncus elementum mauris.</p>

                <p>Phasellus varius, nibh in finibus vestibulum, velit justo elementum nulla, quis ornare elit risus non dolor. Curabitur diam neque, vestibulum ac erat eget, laoreet tempor leo. Sed convallis lacus sit amet libero lacinia, at luctus justo pretium. Cras at sapien nec erat accumsan aliquet. Donec maximus metus ut vehicula gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc vulputate varius turpis et suscipit. Phasellus velit massa, malesuada eu dui id, vestibulum vulputate eros. Fusce facilisis id mauris ac egestas. Integer efficitur quam magna, at varius velit imperdiet sed.</p>

                <p>Etiam non dapibus ante. Suspendisse in eros turpis. Etiam in cursus est. Aenean eget pharetra elit. Aliquam risus lorem, sagittis ut quam et, bibendum egestas nibh. Nulla at felis vitae odio euismod gravida. Morbi feugiat efficitur nulla ac vehicula. Curabitur tempus mi non tempor pretium. Morbi lobortis, odio iaculis tempor malesuada, massa neque condimentum nisi, sed fermentum ex urna et neque. Nulla eget odio a urna ornare auctor nec sed ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod diam at suscipit ullamcorper.</p>
                <hr>
            </div>
            <ins class="radix" data-component="Comments" data-prop-stream-id="Content|12345678" data-prop-stream-title="Content Title" data-prop-class-name="card-block"></ins>
        </div>
    </div>
</div>

{% endblock %}
