{{-bootstrap/form/input-group
    key='title'
    value=model.title
    helpText='The form title.'
    hideLabel=true
    required=true
}}

{{!-- {{-bootstrap/form/input-group
    key='label'
    value=model.label
    helpText='A user-friendly label for the demographic. Forms will display this by default.'
    hideLabel=true
    required=true
}} --}}

{{!-- <hr>
<div class="form-group">
    <label for="field-demographic-labels">Labels</label>
    {{edit-field/autocomplete value=model.tags multiple=true modelType='question-tag'}}
    <small class="form-text text-muted">Organize demographics using labels.</small>
</div> --}}
