<div class="col-md-4">
    {{!-- <div class="list-group m-b-1">
        {{#link-to 'customer.identities.create' class='list-group-item list-group-item-action list-group-item-success'}}<i class="ion-plus-round"></i> Create{{/link-to}}
    </div> --}}
    <div class="list-group">

        {{#each model as |item|}}
            {{#link-to 'customer.identities.edit' item.id class='list-group-item list-group-item-action'}}
                <h5 class="list-group-item-heading">
                    {{item.name}}
                </h5>

                <p class="list-group-item-text">{{item.label}}</p>
            {{/link-to}}
        {{else}}
            <div class="list-group-item list-group-item-action">
                <p class="list-group-item-text">No results found.</p>
            </div>
        {{/each}}
    </div>
</div>
<div class="col-md-6">{{ outlet }}</div>
