<div class="form-group">
    <label class="sr-only" for="field-customer-account-given-name">Given Name</label>
    {{ input class='form-control' value=model.givenName placeholder="Given Name" }}
</div>
<div class="form-group">
    <label class="sr-only" for="field-customer-account-family-name">Family Name</label>
    {{ input class='form-control' value=model.familyName placeholder="Family Name" }}
</div>
