{{#if options.length}}
  <div class="btn-group" role="group">
    {{#list-controls/button
      id="dropdown-filter-type"
      disabled=disabled
      class=(concat "dropdown-toggle" " " buttonClass)
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    }}
      <span class="">{{selected.label}}</span>
    {{/list-controls/button}}

    <div class="dropdown-menu {{alignmentClass}}" aria-labelledby="dropdown-filter-type">
      {{#each filteredOptions as |option|}}
        <a class="dropdown-item" href="javascript:void(0)" {{action "filterBy" option.key}}>{{option.label}}</a>
      {{/each}}
    </div>
  </div>
{{/if}}
