{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "integrations.omeda.index"}}{{entypo-icon "users"}} Omeda Integrations{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{model.name}}{{#if model.deleted}} (<span class="text-danger">Deleted</span>){{/if}}{{/crumbs.item}}
{{/nav-breadcrumbs}}

{{edit-model model=model loadTabsFrom=(route-action 'loadTabs') routeName='integrations.omeda'}}
