{% extends '@AppBundle/Resources/views/sandbox/index.html.twig' %}

{% block container %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Email Deployment Subscription Test</div>
            <ins class="radix" data-component="EmailSubscriptions" data-prop-class-name="card-block"></ins>
        </div>
    </div>
</div>

{% endblock %}
