{% extends '@AppBundle/Resources/views/sandbox/index.html.twig' %}

{% block container %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Gated Downloads</div>
            <ins class="radix" data-component="GatedDownload" data-prop-class-name="card-block" data-prop-file-url="http://r2.vehicleservicepros.com/files/base/cygnus/vspc/document/2016/09/PTEN_MediaKit_2017.pdf" data-prop-notify="{&quot;enabled&quot;:true,&quot;template&quot;:&quot;gated-download.notify&quot;,&quot;subject&quot;:&quot;Content Download&quot;,&quot;to&quot;:[&quot;DigitalSolutions@Southcomm.com&quot;,&quot;contact@vehicleservicepros.com&quot;],&quot;bcc&quot;:[&quot;emailactivity@cygnus.com&quot;],&quot;extra&quot;:{&quot;content-id&quot;:12262618,&quot;name&quot;:&quot;2017 PTEN Media Planner&quot;,&quot;type&quot;:&quot;Document&quot;}}" data-meta-name="Download: 2017 PTEN Media Planner" data-meta-type="Document" data-meta-content-id="12262618"></ins>
        </div>
    </div>
</div>

{% endblock %}
