{% extends 'base.html.twig' %}

{% block title %}Radix Sandbox{% endblock %}

{% block head_content %}
    {# Note, in order to use recaptcha with Radix, this must be included along with the radix script#}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
{% endblock %}

{% block body %}

{% include '@AppBundle/Resources/views/sandbox/_nav.html.twig' %}

<div class="container">
    {% block container %}
        {% include '@AppBundle/Resources/views/sandbox/_main.html.twig' %}
    {% endblock %}
</div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <style>
        body {
            margin-top: 70px;
        }
    </style>
    <link rel="stylesheet" href="{{libraries.css.url}}">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
    <script src="{{libraries.js.url}}"></script>
    <script>
        Radix.addDetectionCallback(function(query) {
            // Example custom detection parser for legacy o_eid.
            if (!query.hasOwnProperty('o_eid')) {
                return;
            }
            return {
                clientKey  : 'omeda',
                externalId : query['o_eid']
            }
        });
        // @todo Remove sending the identity once backend tracking (Sapience/Olytics) has been integrated.
        Radix.on('CustomerManager.identity.loaded', function() {
            console.warn(
                'This is where one could subscribe to an identity id being loaded. ID:',
                Radix.getIdentity()
            );
        });

        Radix.init({{ app.config|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
    </script>
{% endblock %}
