<div class="col-md-10">
    <div class="jumbotron">
        <h1 class="display-3">Modeling</h1>
        <p class="lead">Define models and browse saved data.</p>
        <hr class="m-y-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>
