<li data-is-dirty={{item.hasDirtyAttributes}}>
    {{#link-to 'embed.edit' item.id}}
        <small class="details">{{item.id}}</small>
        <p class="title">{{{item.name}}}</p>
    {{/link-to}}
</li>
