<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            {{#link-to 'customer.accounts' class='list-group-item list-group-item-action'}}Accounts{{/link-to}}
            {{#link-to 'customer.identities' class='list-group-item list-group-item-action'}}Identities{{/link-to}}
        </div>
    </div>
    {{ outlet }}
</div>
