<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            {{#link-to 'integrations.omeda' class='list-group-item list-group-item-action'}}Omeda{{/link-to}}
        </div>
    </div>
    {{ outlet }}
</div>
