<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            {{#link-to 'modeling.models' class='list-group-item list-group-item-action'}}Models{{/link-to}}
            {{#link-to 'modeling.mixins' class='list-group-item list-group-item-action'}}Mixins{{/link-to}}
            {{#link-to 'modeling.embeds' class='list-group-item list-group-item-action'}}Embeds{{/link-to}}
        </div>
    </div>
    {{ outlet }}
</div>
