<div class="row">
    <div class="col-sm-2 m-b-1">
        <div class="list-group">
            {{#link-to 'product.email-deployments' class='list-group-item list-group-item-action'}}Email Deployments{{/link-to}}
            {{#link-to 'product.tags' class='list-group-item list-group-item-action'}}Tags{{/link-to}}
        </div>
    </div>
    {{ outlet }}
</div>
