{{ model.question.label }} <small class="text-muted">({{ model.question.name }}) Required: {{ model.required }}</small>
{{#if isSortable}}
    <span class="sort-handle pull-xs-right">&varr;</span>
{{/if}}
