<div class="form-group">
    <label class="sr-only" for="field-demographic-id">Identifier</label>
    <div class="input-group">
        <div class="input-group-addon">ID</div>
        {{ input class='form-control' disabled="disabled" value=model.id }}
    </div>
</div>
<div class="form-group">
    <label class="sr-only" for="field-demographic-created-date">Created</label>
    <div class="input-group">
        <div class="input-group-addon">Created</div>
        {{ input class='form-control' disabled="disabled" value=model.createdDate }}
    </div>
</div>

<div class="form-group">
    <label class="sr-only" for="field-demographic-modfied-date">Updated</label>
    <div class="input-group">
        <div class="input-group-addon">Updated</div>
        {{ input class='form-control' disabled="disabled" value=model.updatedDate }}
    </div>
</div>

<div class="alert alert-danger" role="alert">
    <p><strong>Danger Zone!</strong> Take care when using these actions...</p>
    {{ model-actions/delete model=model disabled=model.isNew disabledReason="You cannot delete an unsaved item." confirmValue=model.name transitionTo='demographic.labels' }}
</div>
