{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "core.applications.index"}}{{entypo-icon "price-tag"}} Core Applications{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.name }}{{#if model.deleted}} (<span class="text-danger">Deleted</span>){{/if}}{{/crumbs.item}}
{{/nav-breadcrumbs}}

{{edit-model model=model loadTabsFrom=(route-action 'loadTabs') routeName='core.applications'}}
