<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Key</th>
                        <th>Params</th>
                        <th>Query String</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Email Verification</td>
                        <td>verify-email</td>
                        <td>token</td>
                        <td><code>?radix.action=verify-email&radix.token={tokenValue}</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
