{% extends '@AppBundle/Resources/views/sandbox/index.html.twig' %}

{% block container %}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Component</th>
                        <th>Props</th>
                        <th>Query String</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Email Verification</td>
                        <td>VerifyEmail</td>
                        <td>token</td>
                        <td><code>?rdx.action=VerifyEmail&amp;rdx.token={tokenValue}</code></td>
                    </tr>
                    <tr>
                        <td>Password Reset</td>
                        <td>ResetPassword</td>
                        <td>token</td>
                        <td><code>?rdx.action=ResetPassword&amp;rdx.token={tokenValue}</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
