{% extends '@AppBundle/Resources/views/sandbox/index.html.twig' %}

{% block container %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Gated Downloads</div>
            <ins class="radix" data-component="GatedDownload" data-prop-class-name="card-block" data-prop-file-url="http://media.cygnus.com/files/base/VSPC/whitepaper/2011/08/fleetwinterizationtips_10336349.pdf" data-meta-name="Tips for Winterizing your Fleet" data-meta-type="Whitepaper" data-meta-content-id="10336349" data-meta-company-id="10120703" data-meta-company-name="Navistar International"></ins>
        </div>
    </div>
</div>

{% endblock %}
