{% extends '@AppBundle/Resources/views/sandbox/index.html.twig' %}

{% block container %}

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Inquiry Test</div>
            {% set notify = { enabled: true, template: 'inquiry.notify', subject: 'Request for More Information', to: [ 'developers@southcomm.com' ], cc: [ 'developers@southcomm.com' ], extra : {
                companyName: '80/20, Inc.', productName: 'Ergonomic Workstations', url: '<a href="http://www.vehicleservicepros.com/10096440">http://www.vehicleservicepros.com/10096440</a>'
            } }|json_encode %}
            {% set description = '<a href="/some-path">Ergonomic Workstations</a> from <a href="/some-path">80/20, Inc.</a>' %}
            <ins class="radix"
                data-component="Inquiry"
                data-prop-success-redirect="http://www.google.com"
                data-prop-description="{{ description }}"
                data-prop-model-type="content-product"
                data-prop-model-identifier="10096440"
                data-prop-notify="{{ notify }}"
                data-prop-class-name="card-block">
            </ins>
        </div>
    </div>
</div>

{% endblock %}
