{% extends '@AppBundle/Resources/views/sandbox/index.html.twig' %}

{% block container %}

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Inquiry Test</div>
            {% set notify = { enabled: true, template: 'inquiry.notify', subject: 'Inquiry Submission', to: [ 'developers@southcomm.com' ], cc: [ 'developers@southcomm.com' ] }|json_encode %}
            {% set description = "Inquiry <strong>description</strong> here..." %}
            <ins class="radix"
                data-component="Inquiry"
                data-prop-success-redirect="http://www.google.com"
                data-prop-description="{{ description }}"
                data-prop-model-type="content-product"
                data-prop-model-identifier="10096440"
                data-prop-notify="{{ notify }}"
                data-prop-class-name="card-block">
            </ins>
        </div>
    </div>
</div>

{% endblock %}
