{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "colours"}} Demographic Choices{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row">
    <div class="col">
        {{#-browse/list routeName='demographic.choices' canCreate=false items=model as |item|}}
            <h5 class="list-group-item-heading">{{item.model.name}}</h5>
            <p class="list-group-item-text">{{item.model.question.name}}</p>
        {{/-browse/list}}
    </div>
</div>
