{{-bootstrap/form/input-group
    key='name'
    value=model.name
    helpText='The name of the choice.'
    hideLabel=true
    required=true
}}

{{-bootstrap/form/input-group
    key='description'
    value=model.description
    helpText='A short description of the choice.'
    hideLabel=true
}}

{{partial 'demographic/choices/-options'}}

<div class="alert alert-info" role="alert">
    Demographic choice for {{#link-to 'demographic.questions.edit' model.question.id class="alert-link"}}{{model.question.name}}{{/link-to}}.
</div>
