<div class="card">
    <div class="card-header">
        Filter
    </div>
    <form>
        <div class="card-block">
            <div class="form-group">
                <label class="sr-only" for="field-demographic-choice-id">Search phrase</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ion-search"></i></div>
                    {{ input class='form-control' placeholder="Enter search phrase..." }}
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="filter-demographic-choice-demographic">Demographic Question</label>
                {{edit-field/selectize/model-find-all
                    modelName="demographic"
                    selection=[]
                    multiple=true
                }}
                <small class="form-text text-muted">Filter by a demographic question.</small>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </form>
</div>
