parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport: smtp
    mailer_host: smtp.sendgrid.net
    mailer_port: 587
    mailer_user: apikey
    mailer_password: ThisKeyIsNotValidSoChangeIt

    secret:            ThisTokenIsNotSecretSoChangeIt
    framework_version: RDXAPP_BUILDNO
