parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport: smtp
    mailer_host: smtp.sendgrid.net
    mailer_port: 587
    mailer_user: apikey
    mailer_password: '%env(SYMFONY_MAILER_PASSWORD)%'

    secret: '%env(SYMFONY_MAILER_PASSWORD)%'
    framework_version: RDXAPP_BUILDNO

    env(MONGO_DSN): mongodb://mongo/radix
    env(LEGACY_MONGO_DSN): mongodb://mongo/legacy
    env(REDIS_DSN): redis://redis
    env(SYMFONY_SECRET): ThisTokenIsNotSecretSoChangeIt
    env(SYMFONY_MAILER_PASSWORD): ThisKeyIsNotValidSoChangeIt
