<header>
    <div class="left">
    </div>
    <div class="center">
    </div>
    <div class="right">
    </div>
</header>
<main>
    <div class="wrap">
        <h1 class="title">Select an item to edit, or click the + to create new.</h1>
    </div>
</main>
