{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "users"}} Core Users{{/crumbs.item}}
{{/nav-breadcrumbs}}

{{#-browse/list routeName='core.users' items=model as |item|}}
    <h5 class="list-group-item-heading">{{item.model.givenName}} {{item.model.familyName}}</h5>
    <p class="list-group-item-text">{{item.model.email}}</p>
{{/-browse/list}}
