<div class="col-md-4">
    {{#-browse/list routeName='integrations.omeda' items=model as |item|}}
        <h5 class="list-group-item-heading">{{item.model.name}}</h5>
        <p class="list-group-item-text">{{item.model.clientKey}}: {{item.model.brandKey}}</p>
    {{/-browse/list}}
</div>

<div class="col-md-6">{{ outlet }}</div>
