<div class="form-group">
    <label class="sr-only" for="field-demographic-label-name">Name</label>
    {{ input class='form-control' value=model.name placeholder="Name" }}
    <small class="form-text text-muted">The name of the label.</small>
</div>
