{{#if userManager.permissions}}
<li class="nav-item">
  {{#link-to "comments" class="nav-item nav-link" title="Manage Comments"}}
    {{entypo-icon "chat"}} <span class="d-none d-lg-inline">Comments</span>
  {{/link-to}}
</li>
{{/if}}
