{{#if userManager.permissions.allowAll}}
  <li class="nav-item dropdown">
    <a data-toggle="dropdown" href="javascript:void(0)" role="button" class="nav-link dropdown-toggle" aria-expanded="true">
      {{entypo-icon "tools"}} <span class="d-none d-xl-inline">Core</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-manage">
      {{#link-to "core.accounts" class="dropdown-item d-flex justify-content-between" title="Manage Accounts"}}
        Accounts
      {{/link-to}}
      {{#link-to "core.applications" class="dropdown-item d-flex justify-content-between" title="Manage Applications"}}
        Applications
      {{/link-to}}
      {{#link-to "core.users" class="dropdown-item d-flex justify-content-between" title="Manage Users"}}
        Users
      {{/link-to}}
    </div>
  </li>
{{/if}}
