{{#if userManager.permissions.allowAll}}
  <li class="nav-item dropdown">
    <a data-toggle="dropdown" href="javascript:void(0)" role="button" class="nav-link dropdown-toggle" aria-expanded="true">
      {{entypo-icon "colours"}} <span class="d-none d-xl-inline">Demographics</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-demographic">
      {{#link-to "demographic.questions" class="dropdown-item d-flex justify-content-between" title="Manage Questions"}}
        Questions
      {{/link-to}}
      {{#link-to "demographic.choices" class="dropdown-item d-flex justify-content-between" title="Manage Choices"}}
        Choices
      {{/link-to}}
      {{#link-to "demographic.labels" class="dropdown-item d-flex justify-content-between" title="Manage Labels"}}
        Labels
      {{/link-to}}
    </div>
  </li>
{{/if}}
