{{#if userManager.permissions.allowAll}}
<li class="nav-item">
  {{#link-to "form.definitions" class="nav-item nav-link" title="Manage Form Definitions"}}
    {{entypo-icon "news"}} <span class="d-none d-md-inline">Forms</span>
  {{/link-to}}
</li>
{{!-- <li class="nav-item dropdown">
    <a data-toggle="dropdown" href="javascript:void(0)" role="button" class="nav-link dropdown-toggle" aria-expanded="true">
      {{entypo-icon "news"}} <span class="d-none d-md-inline">Forms</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-demographic">
      {{#link-to "form.definitions" class="dropdown-item d-flex justify-content-between" title="Manage Form Definitions"}}
        Definitions
      {{/link-to}}
    </div>
  </li> --}}
{{/if}}
