{{#if userManager.permissions.allowAll}}
  <li class="nav-item dropdown">
    <a data-toggle="dropdown" href="javascript:void(0)" role="button" class="nav-link dropdown-toggle" aria-expanded="true">
      {{entypo-icon "users"}} <span class="d-none d-lg-inline">Identities</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-manage">
      {{#link-to "identity.accounts" class="dropdown-item d-flex justify-content-between" title="Manage Account Identities"}}
        Accounts
      {{/link-to}}
      {{#link-to "identity.internal" class="dropdown-item d-flex justify-content-between" title="Manage Internal Identities"}}
        Internal
      {{/link-to}}
      {{#link-to "identity.external" class="dropdown-item d-flex justify-content-between" title="Manage External Identities"}}
        Third-Party
      {{/link-to}}
    </div>
  </li>
{{/if}}
