<li class="nav-item">
  {{#link-to "integrations.omeda" class="nav-item nav-link" title="Manage Integrations"}}
    {{entypo-icon "power-plug"}} <span class="d-none d-md-inline">Integrations</span>
  {{/link-to}}
</li>

{{!-- {{#if userManager.permissions.allowAll}}
  <li class="nav-item dropdown">
    <a data-toggle="dropdown" href="javascript:void(0)" role="button" class="nav-link dropdown-toggle" aria-expanded="true">
      {{entypo-icon "power-plug"}} <span class="d-none d-md-inline">Integrations</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-manage">
      {{#link-to "integrations.omeda" class="dropdown-item d-flex justify-content-between" title="Manage Omeda Integrations"}}
        Omeda
      {{/link-to}}
    </div>
  </li>
{{/if}} --}}
