{{#if userManager.permissions.allowAll}}
<li class="nav-item">
  {{#link-to "product.email-deployments" class="nav-item nav-link" title="Manage Products"}}
    {{entypo-icon "browser"}} <span class="d-none d-lg-inline">Products</span>
  {{/link-to}}
</li>

{{!-- <li class="nav-item dropdown">
    <a data-toggle="dropdown" href="javascript:void(0)" role="button" class="nav-link dropdown-toggle" aria-expanded="true">
      {{entypo-icon "browser"}} <span class="d-none d-lg-inline">Products</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-manage">
      {{#link-to "product.email-deployments" class="dropdown-item d-flex justify-content-between" title="Manage Email Deployments"}}
        Email Deployments
      {{/link-to}}
      {{#link-to "product.tags" class="dropdown-item d-flex justify-content-between" title="Manage Tags"}}
        Tags
      {{/link-to}}
    </div>
  </li> --}}
{{/if}}
