<div class="col-md-10">
    <div class="jumbotron">
        <h1 class="display-3">Products</h1>
        <p class="lead">Manage products.</p>
        <hr class="m-y-2">
        {{!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> --}}
    </div>
</div>
